<form action="../index.php" method="post" name="form">
    <input type="text" name="request" placeholder="film">
    <select size="1" name="find_type">
        <option value="search_film">Film</option>
        <option value="search_star">Star</option>
    </select>
    <input type="submit" name="action[find]" value="Find"><br>
    <input type="submit" name="action[add]" value="Add film">
    <input type="submit" name="action[file]" value="Add from file">
    <input type="submit" name="action[list]" value="Show all">
</form>